/* footer */

/* social media */

/* Do you have any Project? */

.footer-letsTalk {
    padding-top: 5rem;
}

.footer-letsTalk-titre {
    font-size: 1.9rem;
    padding-bottom: 2rem;
}

.footer-title {
    font-size: 1.9rem;
}

.footer-letsTalk-titre span {
    color: map-get($colors , txt-fonce );
}

.footer-letsTalk-txt p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2em;
    margin-bottom: 1rem;
}

.footer-letsTalk-socialMedia {
    padding-top: 3rem;
}

.footer-letsTalk-socialMedia .media {
    padding: 20px 20px;
    margin: 0.3rem;
    border: map-get($colors , txt-fonce ) 1px solid;
    background-color: transparent;
    font-size: 1.2rem;
    line-height: 1;
}

.media a {
    text-decoration: none;
    color: white;
}

.media i {
    float: right;
    color: map-get($colors , txt-fonce );
}

footer {
    background-image: url(../images/banner/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
}

footer a {
    color: map-get($colors , txt-fonce );
    text-decoration: none;
}

.copyright {
    color: gray;
    text-align: center;
    font-size: 12px;
    padding-top: 5rem;
}
