

.menu {
    margin: 0;
    padding: 0;
    
}

.l-main-menu {
    background-color: rgb(255, 255, 255);
    display: none;
    font-size: 12px;
    padding-right: 220px;
    margin-left: -75px;
    margin-top: 5rem;
    position: absolute;
    z-index: 1;
}

.l-main-menu li {
    display: block;
}

.l-main-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;       
}

.l-main-menu ul ul {
    display: none;   
}


.l-main-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px 8px;
    font-size: 1rem;   
}

.l-main-menu a:active {
    color: map-get($colors , second);   
}

.l-main-menu a.encours {
    color: map-get($colors , second);
}

.l-main-menu.is-show{
    display: inline-block;
}

.hamburger i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

button.talk {
    display: none;
    margin-left: auto;
}







@media screen and (min-width: 768px) {
    .navigation {
        max-width: 90%;
        margin: 0 auto;
    }

	h1 {
		font-size: 4em;
	}

    .jony-logo {
        margin-top: 1.1rem;
    }

	.l-main-menu li {
        display: inline-block;
	}

    .l-main-menu {
        display: block;
        background-color: transparent;
        padding-right: 0;
        text-align: center;
        margin-top: -3.5rem;
        margin-left: 150px;
    }

    .l-main-menu a {
        color: map-get($colors , txt-fonce );
        padding: 20px 15px;
        font-weight: 600;
        font-size: 0.8rem;
        margin-top: 6px;
    }

    .l-main-menu a:hover {
        color: map-get($colors , txt );
    }

    #menuHamburger {
        display: none;
    }



    .flex1 {
        max-width: 80px;
    }

    .flex2 {
        max-width: 40px;
    }

    .flex3 {
        display: flex;
        justify-content: center;
    }

    .flex4 {
        max-width: 150px;
    }


   .talk {
        display: unset;
        float: right;
    }
    }


  @media screen and (min-width: 992px) {
	H1 {
		font-size: 4em;
	}
    .l-main-menu li {
        display: inline-block;
    }

    .l-main-menu {
        display: block;
        margin-left: 330px;
    }
    #menuHamburger {
        display: none;
    }
    
    .menuPrincipal {
        display: inline-block;
    }
    
    
    
  }