$colors: (
    bg-color:               #311E25,
    second-bg-color:        #3B2930,
    blog-bg-color:          #fbf8ff,
    txt:                    #fff,
    txt-fonce:              #DB9A64,
    txt-second:             #707070
);

$fonts: (
    main:       'Roboto', 
    second:     'Roboto'
);