$colors: (
    bg-color:               #311E25,
    second-bg-color:        #3B2930,
    txt:                    #fff,
    txt-fonce:              #DB9A64
);

$fonts: (
    main:       'Roboto', 
    second:     'Roboto'
);