




/* cv + skills */

.home-cv {
    padding: 5rem 0;
}

.home-view-work-txt h1 {
    line-height: 1.5em;
    font-size: 1.8rem;
    padding-bottom: 3rem;
    text-align: left;
}

.home-cv-txt p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 2em;
    margin-bottom: 1rem;
}

.home-cv-txt button {
    margin-bottom: 4rem;
}



.skills {
    margin-bottom: 2rem;   
}

.skills p {
    padding-bottom: 1rem;
}

span.skills-pourcent {
    float: right;
}

.barre {
	width: 100%;
	background: #ddd;
	height: 6px;
	border-radius: 10px;
}

.barre-color {
	width: 0%;
	background: #ddd;
	height: 100%;
	border-radius: 10px;
}

.barre-wireframing {
    width: 90%;
    background: map-get($colors , txt-fonce);
	height: 100%;
	border-radius: 10px;
}

.barre-uiux {
    width: 70%;
    background: map-get($colors , txt-fonce);
	height: 100%;
	border-radius: 10px;
}

.barre-design {
    width: 45%;
    background: map-get($colors , txt-fonce);
	height: 100%;
	border-radius: 10px;
}


/* my services */

.services {
    background-color: map-get($colors , second-bg-color);
    padding: 8rem 0;
}

.services h2 {
    font-size: 1.9rem;
    padding-bottom: 2rem;
}

.service {
    text-align: center;
    padding: 3rem;
    border: map-get($colors , txt-fonce ) 1px solid;
    margin-top: 2rem;
}

.service.webdesign {
    margin-right: 1rem;
}

.service.webdevelopment {
    margin: 2rem 0.5rem 0 0.5rem;
}

.service.ecommerce {
    margin-left: 1rem;
}

.service i {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.service h3 {
    font-size: 1.3rem;
    color: map-get($colors , txt-fonce);
    padding-bottom: 1.2rem;
}

.service p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.5rem;
}






/* my works */

.home-works {
    padding: 5rem 0;
}

.home-works h2 {
    font-size: 1.9rem;
    padding-bottom: 2rem;
}

.wrapper
{
    display: flex;
    flex-direction: column;
}

.home-works-txt h3 {
    padding: 2rem 0 1rem 0;
}

.home-works-txt p {
    font-size: 1.8rem;
    color: map-get($colors , txt-fonce);
    padding-bottom: 5rem;
}

.portfolio button {
    width: 100%;
    text-align: center;
}




/* what clients say */

.clients {
    background-color: map-get($colors , second-bg-color);
    padding: 5rem 0;
}

.clients h2 {
    font-size: 1.9rem;
    padding-bottom: 2rem;
}

blockquote {
    margin: 0;
}

blockquote p {
    font-size: 19px;
    line-height: 2rem;
    padding-bottom: 3rem;
}

blockquote footer.clients-footer {
    background-image: none;
}

.clients-auteur img {
    float: left;
    padding-right: 1rem;
}

.clients-auteur h3 {
    color: map-get($colors , txt-fonce );
    font-size: 1.8rem;
    padding: 0.4rem 0;
}









@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        width: 90%;
    }

    .home-view-work-txt h1 {
        font-size: 2.2rem;
    }


    .home-view-work-img {
        display: unset;
        float: right;
        padding-top: 3rem;
    }



    header {
        padding-bottom: 0;
    }

    .home-cv-txt p {
        padding-right: 3rem;
    }

    .home-service {
        margin: 0.5rem;
        padding: 1.7rem;
    }

    .wrapper {
            display: flex;
            flex-wrap: wrap;
    }



    .work1 {
        padding: 0 20px;
    }

    .home-letsTalk-socialMedia .media {
        margin: 0.4rem;
    }

}




@media screen and (min-width: 992px) {

    .container {
        margin: 0 auto;
        width: 70%;
    }

    .home-view-work-txt h1 {
        font-size: 3.3rem;
        padding-top: 10rem;
    }

}